extends layout
block content
    p
        |Hello user, to book cab please send sms @ola ph:<ph.no> from:<from address> to:<to address> time:<time>
    br
    p
        |Ex: @ola ph:9535890448 from:PESIT to:RMZ eco space time:3pm
    br
    p
        |To recieve template reply and save the same for next time