doctype html
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name='txtweb-appkey', content='c8fdc5e0-056b-4c99-ac5f-95ba249b1e92')
    body
        block content